{% extends 'base.html' %}
{% block title %}  Edit Menu Item {% endblock title %}
{% block content %}
<h2 class=" shadow p-3 text-center ">Edit Menu Item for {{edit_obj.hotel}} </h2>

<div class="container mt-5 mb-5">
    <form method="POST" enctype="multipart/form-data" class="shadow p-4">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success"> Update Item </button>
        <a href="{% url 'hotel-detail' edit_obj.hotel.slug %}" class="btn btn-secondary">Cancel </a>
    </form>
</div>

{% endblock content %}




